@model MvcSatısProje.Models.TBLMUSTERILER
@{
    ViewBag.Title = "CreateMusteri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5 p-4 shadow-sm rounded bg-light">
    <h2 class="text-center mb-4 text-dark fw-bold">Ürün Ekleme Sayfası</h2>
    <form method="post">
        <div class="form-group">
            <label for="AD" class="form-label text-dark fw-bold">AD</label>
            <input type="text" name="AD" id="AD" class="form-control" placeholder="Müşteri ismini giriniz" required />


            <label for="SOYAD" class="form-label text-dark fw-bold">SOYAD</label>

            <input type="text" name="SOYAD" id="SOYAD" class="form-control" placeholder="Müşteri soyadını giriniz" required />

            <label for="SEHIR" class="form-label text-dark fw-bold">Şehir</label>
            <input type="text" name="SEHIR" id="SEHIR" class="form-control" placeholder="Şehri giriniz." required />

            <label for="BAKIYE" class="form-label text-dark fw-bold">Bakiye</label>
            <input type="text" name="BAKIYE" id="BAKIYE" class="form-control" placeholder="Bakiye giriniz" required />

        </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-success">
                <i class="fa fa-plus"></i> Ürünü Ekle
            </button>
        </div>
    </form>
</div>

